body {
    margin: 0 ;
    padding: 0 ;
    background: #dce7f5 ;
    font-family: "Segoe UI";
}

nav ul {
    text-align: center;
}
nav li {
    display: inline;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #070707;
    font-size: 24px;
}
nav a:hover {
    text-decoration: underline;
}

header .titulo {
    text-align: center;
    line-height: 220%;
}
header .subtitulo {
    text-align: center;
    line-height: 50%;
}

#interes {
    text-align: center;
}

#map {
    text-align: center;
}

#icons {
    text-align: center;
}

#galeria {
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
}
#galeria img {
    border: 5px solid #000000;
    padding: 20px;
    text-align: center;
}

footer {
    font-size: 17px;
    text-align: center;
}



